[submodule "llvm"]
	path = llvm
	url = https://github.com/dvc94ch/llvm
	branch = llvm6-riscv-23-11-2017
[submodule "rust"]
	path = rust
	url = https://github.com/dvc94ch/rust
	branch = riscv-rust-1b7a332
[submodule "binutils"]
	path = riscv-binutils-gdb
	url = https://github.com/riscv/riscv-binutils-gdb
	branch = riscv-binutils-2.29
[submodule "openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd
	branch = riscv