[submodule "binutils"]
	path = riscv-binutils-gdb
	url = https://github.com/riscv/riscv-binutils-gdb
	branch = riscv-binutils-2.29
[submodule "openocd"]
	path = riscv-openocd
	url = https://github.com/riscv/riscv-openocd
	branch = riscv
